<h1>Courses</h1>

<%= link_to "New", new_admin_course_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.name, [:admin, course] %></td>
          <td>
            <%= link_to "Edit", edit_admin_course_path(course) %>
            <%= link_to "Delete", admin_course_path(course), method: :delete, confirm: "Are you sure?" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </thead>
</table>